extends layout

block content  
  .container
    h1= problem.title
    
    label Problem
    .well.well-lg= problem.question
    
    p ProblemID: 
      a(href="problem/#{problem._id}") #{problem._id}
    p ProblemMaster: 
      a(href="/user/#{problem.owner._id}") #{problem.owner.name}
    p Publish at: #{problem.created.toLocaleString()}
    p Revision: #{problem.revision}
